@import 'styles/mixins';

#dashboard {
  .dashboard-section {
    padding-bottom: 50px;
  }
  .table {
    width: 70%;

    @include mobile-only {
      margin-left: 20px;
    }
    @include tablet-landscape-up {
      display: inline-block;
      margin-left: 40px;
    }
  }
}
