@import 'styles/variables';

.addButton {
  background-color: $light-brand-primary;
  color: white;
  display: inline-block;
  white-space: nowrap;
  height: 40px;
  .icon {
    svg path {
      fill: white;
    }
  }
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
}
