@import 'styles/variables';

.addButton {
  background-color: $light-brand-primary;
  color: white;
  .icon {
    svg fill {
      color: white;
    }
  }
  text-transform: uppercase;
  font-weight: 700;
}
