@import "variables";
@import "fonts";
@import "mixins";

h1 {
  font-family: "Playfair Display";
  font-size: 40px;
  color: $light-text-primary;
  font-weight: 500;
  padding: 50px 20px 20px 20px;
}

h3 {
  color: $light-text-secondary;
  font-size: 28px;
  font-weight: 400;
}

h4 {
  padding: 20px;
  margin: 0;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
}

p {
  font-family: "Roboto";
  font-size: 16px;
}

.icon {
  vertical-align: middle;
}

.App {
  padding-bottom: 40px;
  width: 100%;
}

.content-container {
  @include tablet-portrait-up {
    margin-left: $side-bar-width;
  }
  @include mobile-only {
    width: 100vw;
  }
}

.big-number {
  font-size: 60px;
  padding-left: 40px;
}

.color-key {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
