@import "variables";
@import "mixins";

.sidebar {
  height: calc(100% - $nav-bar-height);
  border-right: 0.5px #a0a0a0;
  width: $side-bar-width;
  position: fixed;
  left: 0;
  top: $nav-bar-height;
  display: block;
  @include mobile-only {
    display: none;
  }
  padding-top: 30px;
}
