// dimensions
$nav-bar-height: 44px;
$side-bar-width: 200px;

// colors
$black: #09173a;
$teal: #16bac5;
$blue: #0024b9;
$purple: #ab81cd;
$red: #d81e5b;
$white: #ffffff;
$light-gray: #f7f7f7;
$medium-gray: #e0e0e0;
$gray: #707070;
