// dimensions
$nav-bar-height: 44px;
$side-bar-width: 200px;
$menu-padding: 36px;
$portfolio-min-width: 770px;

// colors
$light-brand-alternate: #16bac5;
$light-brand-primary: #0024b9;
$light-brand-secondary: #ab81cd;
$light-brand-tertiary: #d81e5b;
$light-light-line: #a8a8a8;
$light-nav-bar-background: #09173a;
$light-text-primary: #09173a;
$light-background-primary: #ffffff;
$light-background-secondary: #f7f7f7;
$light-table-header: #09173a;
$light-text-secondary: #707070;
$light-table-row-primary: #f0f0f0;
$light-table-row-secondary: #e0e0e0;
$light-text-placeholder-disabled: #999999;
