// dimensions
$nav-bar-height: 44px;
$side-bar-width: 200px;

// colors
$black: #09173A;
$teal: #16BAC5;
$blue: #0024B9;
$purple: #AB81CD;
$red: #D81E5B;
$white: #FFFFFF;
$light-gray: #F7F7F7;
$medium-gray: #E0E0E0;
$gray: #707070;
