@import 'styles/variables';
@import 'styles/mixins';

.card {
  background-color: $light-background-secondary;
  margin: 20px;
  padding: 20px;
  flex-basis: 100%;
  .body {
    font-weight: 300;
  }
  @include mobile-only {
    width: 100%;
  }
}

.card-container {
  max-width: 70vw;
  display: inline-flex;
  @include mobile-only {
    display: inline-block;
  }
}
