@import 'styles/variables';

#artwork-page {
  padding-left: 48px;
  .back-button {
    display: inline-flex;
    white-space: nowrap;
    gap: 4px;
    span {
      padding-top: 2px;
    }
  }
  .header-section {
    padding-top: 24px;
    .artwork-image {
      width: 302px;
      height: 204px;
      flex-shrink: 0;
      float: left;
      padding-right: 32px;
    }
    margin-bottom: 32px;
  }
  .detail-section {
  }
  .inline {
    display: inline-flex;
    gap: 12px;
    h4 {
      padding-top: 3px;
    }
  }
}
