@import 'styles/variables';

.iconButton {
  background-color: $light-brand-primary;
  color: white;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  height: 40px;
  .button-icon {
    vertical-align: middle;
    display: inline-block;
    svg path {
      fill: white;
    }
  }
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
}
